@import url('https://fonts.google.com/specimen/Abril+Fatface?sort=alpha')
{
body
nav:
{
  background-color: #1E1E1E;
  padding: 15px;
  position: fixed;
}
nav a{
  color: white
  margin 15px;
}
nav a:hover{
  color: white
  text-decoration none;
}

nav a:first-child img{
  width: 40px;
}

.banner{
  background-image: url(../foto2.jpg)
  background-position center center;
  background-size: cover;
  height: 400px;
}

h1{font-family: 'Frederick the Great', cursive;
  color:aliceblue
  text-align: center;
}