
header{    
    background-position: center center;
    height: 350px;
    background-image: url(../img/bg2.jpg)
}

h1{
    background-color: rgba(248, 248, 248,0.75);
    margin-top: 80px;
    padding-left: 11rem;
    font-family: Verdana;  
    color: #416618;
    font-weight: bold;  
}

h2{    
    margin-top: 10px;
    color: #416618; 
    border-left: 3px dotted #416618;  
    font-variant: small-caps;  
    padding: 5px 15px;
}

h3{    
    font-weight: bold;
    color: #894f3b;  
    text-align: center;  
    
}


li{
    list-style-image: url(../img/lemon2.png);
    float: left;
    margin-left: 40px;
}


td,th{
    text-align: center;
}

thead>tr:first-child{    
    letter-spacing: 2px;
    text-transform: uppercase;    
}

.navbar{
    background-color: #fd8800;
}
