
header{    
    background-position: center center;
    height: 350px;
    background-image: url(../img/bg2.jpg)
}

h1{
    background-color: rgba(248, 248, 248, 0.75);
    background-blend-mode:25%;
    margin-top: 80px;
    padding-left: 11rem; 
    font-family: Verdana;
    color: #416618; 
    font-weight: bold;
}

h2{    
    margin-top: 10px;  
    color: #416618;
    border-left: 3px dotted #416618;
    font-variant: small-caps;
    margin: 5px 15px;
    padding: 5px 15px;
}

h3{    
    font-weight: bold;
    color: #894f3b;   
    text-align: center;
    font-size: 130%;
    text-overflow: 1px; 
}


li{
    list-style-image: url(../img/lemon2.png);
}


td,th{
    text-align: center;
}

thead>tr:first-child{    
    letter-spacing: 2px;    
}


.navbar{

    background-color: #fd8800;

}

#mandarin{


    font-weight: bold;
}


#latin{

    font-style: italic;

}



ul{

    margin: 40px;
}

